<div class="container">
  <div class="form-box">
    <%= simple_form_for @telepherique do |f| %>
      <%= f.input :localisation %>
      <%= f.input :seats %>
      <%= f.input :photos %>
      <%= f.submit "Confirm", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
