<div class="container">
  <div class="form-box">
    <%= simple_form_for @cablecar do |f| %>
      <%= f.input :name %>
      <%= f.input :seats %>
      <%= f.input :price %>
      <%= f.input :city %>
      <%= f.input :travel_length %>
      <%= f.input :travel_time %>
      <%= f.input :travel_speed %>
      <%= f.input :upper_terminal %>
      <%= f.input :lower_terminal %>
      <%= f.input :photos %>
      <%= f.submit "Confirm", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
